/* * {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 28px;
  font-weight: bold;
}

.value {
  font-size: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
} */

/* .mk-container {
} */
.img {
  max-width: none;
}
.mk-container {
  margin-bottom: 80px;
  /* min-width: 0; */
}
.mk.swiper-wrapper {
  height: 302px;
  width: 497px;
}
.mk-photo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #050505;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.mk-photo-wrapper.chief {
  height: 280px;
  width: 80px;
}
.chief-img {
  display: block;
  width: 273.5px;
  height: 302.5px;
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}
.mk-photo-wrapper.preview {
  height: 280px;
  width: 200px;
}
.preview-img {
  width: 157px;
  position: absolute;
}
.mk-photo-wrapper.zoom {
  height: 280px;
  width: 200px;
}
.dish-img {
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 15px;
  z-index: 1;
}
.mk-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: -141px;
  margin-left: 20px;
}
.mk-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.mk-item {
  display: flex;
}
.mk-info {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 8px;
  bottom: 14px;
  max-height: 44px;
}
.mk-name {
  max-width: 156px;
  height: 28px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
}
.mk-region {
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  height: 18px;
  width: 24px;
}
/* .swiper {
  width: 512px;
  height: 302px;
} */
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .mk-container {
    margin-bottom: 80px;
  }
  .mk.swiper-wrapper {
    height: 468px;
    width: 871px;
  }
  .mk-photo-wrapper.chief {
    height: 442px;
    width: 137px;
  }
  .chief-img {
    width: 420.7px;
    height: 465px;
  }
  .mk-photo-wrapper.preview {
    height: 442px;
    width: 351px;
  }
  .preview-img {
    width: 271px;
  }
  .mk-photo-wrapper.zoom {
    height: 442px;
    width: 351px;
  }
  .dish-img {
    width: 663px;
    height: 663px;
  }
  .mk-card {
    /* margin-right: -141px; */
    margin-left: 32px;
  }
  .mk-list {
    gap: 16px;
  }
  .mk-info {
    bottom: 32px;
    max-height: 44px;
  }
  .mk-name {
    max-width: 276px;
    height: 18px;
    font-size: 14px;
    line-height: 1.28;
  }
  .mk-region {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .mk-container {
    margin-bottom: 100px;
  }
}
